body {
  /* background-image: URL("https://images.gamebanana.com/img/ss/mods/57f0d41ad0a88.jpg"); */
  background-image: URL("../assets/ezgif-5-1fe33c22a1.gif");
  /* background-image: URL("https://s2.dmcdn.net/v/Lf_p71STF-BBI3Mn5/x1080"); */
  background-repeat: no-repeat;
  background-size: 100%;
  color: rgb(248, 0, 83);
  font-family: "Trickster";
  font-size: 26px;
background-color: black;

}

.pimage{
  display: flex;
}

.connexion {
  padding: 1% 40%;
  justify-content: space-between;
}

.co {
  border: solid 2px cyan;
  box-shadow: 0 0 7px cyan,
  0 0 5px cyan,
  0 0 10px cyan,
  0 0 21px rgb(255, 0, 255),
  0 0 41px rgb(255, 0, 255),
  0 0 46px rgb(255, 0, 255),
  0 0 56px rgb(255, 0, 255),
  0 0 75px rgb(255, 0, 255);;
  border-radius: 10px;
  padding: 1em;
  background-color: rgb(0, 0, 0);
}

a {
  padding: 0 20%;
}

label {
  margin-bottom: 1em;
}

input{
  background-color: black;
  color: blueviolet;
  border-radius: 11px;
}

header {
  display: flex;
  justify-content: center;
  font-size: 70px;
  margin-bottom: 0;
  color: rgb(248, 0, 83)
}
main p{
  color: rgb(248, 0, 83);
  text-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  font-family: "Trickster";
  font-size: 30px;
  margin: 1em;

}
h1 {
  margin: 0;
  /* text-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0); */
    text-shadow:
      0 0 7px #111,
      0 0 10px #111,
      0 0 21px #111,
      0 0 42px rgb(255, 0, 255),
      0 0 82px rgb(255, 0, 255),
      0 0 92px rgb(255, 0, 255),
      0 0 102px rgb(255, 0, 255),
      0 0 151px rgb(255, 0, 255);

  font-family: "Trickster";
}

#connexion, #inscrip{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: medium;
  color: rgb(0, 38, 255);
  text-shadow: white;
}

@font-face {
  font-family: "Trickster";
  src: local("Trickster"),
    url("../assets/LucySaidOkPersonalUseItalic-OV9ee.ttf") format("truetype");
}